body
{
text-align: center;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.txt_typing{
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: black;
} 


.animated-text {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    animation: type 4s steps(20) infinite;
  }

  @keyframes type {
    from { width: 0; }
    to { width: 100%; }
  }